/* Course Details */

#course-details{
	display: flex;
    width: 1640px;
    height: 331px;
    background: transparent 0% 0% no-repeat padding-box;
    margin-bottom: 0px;
    justify-content: flex-start;
    margin: 15px auto;
}

.cart-details-section{
    display: flex;
    flex-direction: column;
}

.courses{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: scroll;
  height: 331px;
}

/* Cart Details */
.cart-details{
    top: 278px;
    left: 1382px;
    width: 398px;
    height: 216px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E0E0E0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding : 10px; 
    justify-content: center;
    align-items: flex-start;
  }
  
  .cart-value{
    top: 885px;
    left: 1413px;
    width: 130px;
    height: 19px;
    text-align: left;
    font: normal normal medium 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
    display: flex;
    margin-bottom: 10px;
  }
  
  .cart-amount{
    top: 911px;
    left: 1411px;
    width: 120px;
    height: 34px;
    text-align: left;
    font: normal normal bold 28px/34px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
    margin-bottom: 5px;
  }

  .savings{
    top: 394px;
    left: 1403px;
    width: 195px;
    height: 18px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 15px;
  }

  .checkout-btn{
    top: 427px;
    left: 1398px;
    width: 366px;
    height: 51px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
   
  }

  checkout-btn:hover{
    transform: scale(1.1) perspective(1px);
  }
  

  .course-number{
    top: 229px;
    left: 157px;
    width: 195px;
    height: 24px;
    text-align: left;
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #0F1317;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
    margin-left: 20px;
  }

  .recommended-courses{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 1226px;
    height: 400px;
    align-items: flex-start;
    justify-content: flex-start;

  }

  .recommend{
    top: 656px;
    left: 156px;
    width: 259px;
    height: 22px;
    text-align: left;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #4E4E4E;
    opacity: 1;
    margin-left: 20px;
  }

  .rec-courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: scroll;
    height: 331px;
    width: 1226px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
  }
